*{
            margin:0;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding:0;
            box-sizing:border-box;
        }
        body{
            background-color:black;
        }
        nav{
            background-color:rgba(0, 255, 255, 0.103);
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        .logo{
            font-size:3rem;
            font-weight: 800;
            color:white;
            transition:0.5s;
            margin:8px;
        }
        .logo:hover{
            text-shadow:0 0 20px aqua;
            color:aqua;
        }
        nav ul{
            list-style:none;
            display:flex;
            margin:16px;
            gap:40px;
        }
        nav ul li a{
            text-decoration:none;
            color:white;
            font-size:1.2rem;
            font-weight:400;
        }
        nav ul li a:hover{
            color:aqua;
            text-shadow:0 0 20px aqua;
            font-size:1.3rem;
        }
        main{
            width:99%;
            margin:5px auto;
            height:85vh;
            border:1px solid gray;
            color:white;
            overflow:auto;
            border-radius:5px;
            scrollbar-width: none;
        }
        .heading{
            margin:5%;
            border-bottom:2px solid aqua;
        }
        .course,.skills,.certificates{
            width:90%;
            height:max-content;
            border:1px solid gray;
            margin:10px auto;
            border-radius:5px;
        }
        .courseheading,.skillheading,.certificateheading{
            margin:10px 5%;
            border-bottom:1px solid white;
            padding:10px;
        }
        .coursecontent,.skillcontent,.certificatecontent{
            margin:15px 5%;
        }
        .course:hover{
            color:black;
            background-color:aqua;
        }
        .skills:hover{
            color:black;
            background-color:aqua;
        }
        .certificates:hover{
            color:black;
            background-color:aqua;
        }
